DJANGO_DEBUG=1
DJANGO_SECRET_KEY=replace-for-production
MSHOPPA_ENCRYPTION_KEY=generate-a-fernet-key-for-production
SQLITE_PATH=../../.local/mshoppa.sqlite3
REDIS_URL=redis://127.0.0.1:63799/0
MERCHANT_URL=http://admin.localhost:4201
STOREFRONT_URL=http://localhost:4203
STOREFRONT_URL_PATTERN=http://{hostname}:4203
PLATFORM_URL=http://platform.localhost:4202
BASE_DOMAIN=localhost
EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_HOST=127.0.0.1
EMAIL_PORT=1025
